@font-face {
    font-family: 'oswaldregular';
    src: url('./assets/oswald-variablefont_wght-webfont.woff2') format('woff2'),
         url('./assets/oswald-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    letter-spacing: 10px;
}

@font-face {
    font-family: 'robotoregular';
    src: url('./assets/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('./assets/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  /* Restores the clickable pointer icon */
  cursor: pointer; 
}

button:focus-visible {
  /* Crucial for web accessibility */
  outline: 2px solid #0066cc; 
}

:root {
  --dark-bg: #8e8e96;
  font-size: 1.2rem;
  --full-task-div-font: 0.8rem;
  --button-hover-color: #efefefc7;
  --button-click-color: #efefef8e;
  --button-color-delete-task: red;
  --button-color-add-task: rgb(51, 196, 51);
  --tag-color-generic: rgb(171, 148, 117);
  --tag-color-low: green;
  --tag-color-medium: rgb(0, 145, 255);
  --tag-color-high: orange;
  --priority-font: "oswaldregular";
  --bg-progress-bar-empty: red;
  --bg-progress-bar-normal: yellow;
  --bg-progress-bar-inComplete:teal;
  --bg-progress-bar-complete: green;
  --bg-progress-bar-color: var(--bg-progress-bar-empty);
  --progress-bar-width: 0%;
  --bg-color-confirm-edit: green;
  --bg-color-cancel-edit: red;
  --bg-color-toggle: gray;
}

:root.dark {
  --bg-color: #1F1F1F;
  --text-color: white;
  --bg-color-sidebar: #262626;
  /* --br-color-button: #3C3C3C; */
  --br-color-button: #262626;
  --border-color: white;
  --bg-color-input-field: #333333 ;
}

:root.light {
  --bg-color: #bab9b9;
  --text-color: black;
  /* --bg-color-sidebar: #9d9d9d; */
  --bg-color-sidebar: #c9c9c9;
    --br-color-button: #c9c9c9;
    --border-color: black;
    --bg-color-input-field: white; 
}

button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  border-radius: 6px;
  /* */
  /*  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

header button {
  width: 100px;
  height: 35px;
  font-size: 1em;
}

button[value="addTodo"] {
  background-color: var(--button-color-add-task);
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 0.8em;
  /*  */
  anchor-name: --add-task-dialog;
}

button:not(.disable):active {
  /* opacity: 0.1;    */
  transform: scale(0.96);
}


button:not(.disable):hover,
.toggle-label:not(.disable):hover {
  opacity: 0.8;
}

body > div,
body > header,
body > main{
  border: 2px solid var(--border-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
  /*  */
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows:max-content auto;
  /*  */
  /* margin-left: 1em; */
}



                                    /* logo-div */       
.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
}                                           

                                    /* header */
header {
  display: grid;
  grid-template-columns: 1fr 100px;
  /*  */
  padding: 1em;
}

          /* toolbar-div */

.toolbar-div {
  display: grid;
  grid-template-columns: repeat(3,max-content);
  gap: 0.5em;
}          
                                    /* sidebar-div */
.sidebar-div {
  border: 2px solid black;
  /*  */
  background-color: var(--bg-color-sidebar);
  display: grid;
  gap: 2em;
}

          /* sidebar-main-div */

.sidebar-main-div {
  /* display: grid; */
  /* gap: 1em; */
  /* display: flex;
  flex-direction: column; */
}

          /* sidebar-projects-div */

.sidebar-projects-div {
  display: grid;
  gap: 0.5em;
    /* display: flex;
      flex-direction: column; */
}          

.sidebar-projects-div > .user-projects {
  margin-left: 2em;
  /* display: grid; */
  /* gap: 1em; */
    /* display: flex;
      flex-direction: column; */

}

.sidebar-div button {
  font-size: 1rem;
  /*  */
  width: 100%;
  height: 50px;
  /*  */
  display: flex;  
  justify-content: center;
  align-items: center;
  /*  */
  background-color: var(--br-color-button);
  border: none;

}

.sidebar-div button div {
  background-color: var(--br-color-button);
  color: var(--text-color);
}


                                      /* main */
main {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 2em;
}                          
          /* sort-search-bar-div */

.sort-search-bar-div {
    display: grid;
  grid-template-columns: max-content repeat(4, max-content);
  grid-template-rows: auto auto;
  gap: 1em;
}
            /* search-div */

.search-div {
  grid-column: 1 / -1;
  /* grid-template-columns: max-content 1fr; */
  display: flex;
}

.search-div > input {
  flex: 1;
}

                          /* viewing-div */
.viewing-div {
    border: 2px solid black;
    margin: 6px;
}    

                          /* all-tasks-div (1) */
.all-tasks-div {
  padding: 1em;
  /*  */
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 1em;
}      

.all-tasks-div > p {
  font-weight: 900;
}

                      /* full-task-div (2) */
.full-task-div  {
  font-size: var(--full-task-div-font);
  /* border: 2px solid red; */
  padding: 6px;
  width: 600px;
    /*  */
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    /*  */
    border: 2px solid var(--border-color);
    border-radius: 6px;
}              

.disAllow {
  pointer-events: none;
  opacity: 0.6;
}
                    /* progress-bar-btn-div (3) */
.progress-bar-btn-div {
  /* border: 2px solid black; */
  /*  */
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  font-size: 0.5rem;
}                    
              /* task-progress-bar (4) */

.task-progress-bar{
    /* border: 4px solid green; */
    position: relative;
    /*  */
    flex: 1;
    /*  */
    border: 2px solid var(--border-color);
    border-radius: 1.5em;
    height: 3em;
    background-color: var(--bg-color);
    color: var(--text-color);
    /*  */
}

.task-progress-bar::before {
  content: "";
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  min-width: 2rem;
  max-width: calc(100% - 1em);
  border-radius: 1em;
  padding-left: 0.5em;
  /*  */
  background-color: var(--bg-progress-bar-color);
  min-width: 2rem;
  width: calc(var(--progress-bar-width, 0)); 
}

.task-progress-bar::after {
    content: attr(data-label);
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


              /* button#tasks-options (4) */
button.tasks-options{
  /* border: 2px solid #9fa2a4; */
  height: 18px;
  width: 40px;
  border-radius: 5px;
  /*  */
}

button#active-anchor {
  anchor-name: --active-anchor;
}


button.tasks-options > div {
  /* The Arial font appears to have "square" dots */
  font-family: Arial, Helvetica, sans-serif;
  /* The size of the dots */
  font-size: 36px; 
  /* helps vertically position the dots */
  line-height: 0; 
  /* helps "raise" the dots higher */
  margin-top: -10px; 
      /* -2px; "squeezes" the dots closer together */
  letter-spacing: -2px; 
}

button.tasks-options:hover {
  background-color: var(--button-hover-color);
}

button.tasks-options:active {
  background-color: var(--button-click-color);
}


                  /* task-parent-div (3) */
.task-parent-div {
    /* border: 2px solid blue; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
} 

              /* primary-task (4)*/
              
#primary-task {
  padding: 0.5em;
  /* border: 2px solid white; */
  /*  */
  display: flex;
  align-items: center;
  gap: 0.5em;
  /*  */
    border: 2px solid var(--border-color);
    border-radius: 6px;
    /*  */
}

#primary-task > button.disable {
  opacity: 0.6;
  cursor: not-allowed;
}

#primary-task > button.finalize {
  border: 2px solid yellow;
}

        /* task-details (5) */


.task-details.hidden-div {
  display: none;
}

        /* task-details-edit (5) */

.edit-field-selectors {
  display: flex;
  justify-content: space-between;
}        

.edit-field-selectors input {
  display: none;
  /*  */
}

.edit-field-selectors .toggle-label {
  /* border: 1px solid var(--border-color) ; */
  background-color: var(--bg-color-toggle);
  width: 8ch;
  text-align: center;
  opacity: 0.6;
  /* font-weight: 900; */
  color: white;
}

.toggle-label {
  font-size: 0.8em;
  border: none;
}

.toggle-input-edit:checked + .toggle-label {
    opacity: 1;
}

.task-details-edit {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* height: 120px ; */
}        

.task-details-edit > div {
  padding: 0.5em;
}

.edit-form {
  /* padding: 1em; */
  /*  */
  /* display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 1fr 1fr;
  gap: 0.5em; */
  /*  */
  display: flex;
  /* height: 100px; */
  justify-content: space-between;
  padding: 0.5em;
  gap: 0.5em;
  background-color: var(--bg-color-input-field);
}

/* .task-details-edit > div, */
.task-details-edit  {
  border: 2px solid var(--border-color);
  border-radius: 6px;
  /* gap: 0.5em; */
}

.edit-form > fieldset {
  display: flex;
    border: none;
    flex: auto;
}

.edit-form > fieldset > div:not(.hidden-div)  {
  /* border: 2px solid red; */
  display: flex;
    width: 100%;
    border: none;
    gap: 0.5em;
}



.edit-form > fieldset > div:not(.hidden-div) > textarea,
.edit-form > fieldset > div:not(.hidden-div) > input {
  background-color: var(--bg-color-input-field);
  color: var(--text-color);
  border:none;
  /* outline: 1px solid var(--border-color); */
}

/* .edit-form > fieldset > div:not(.hidden-div) > input, */
 .edit-form > fieldset > div:not(.hidden-div) > input:not(textarea) {
  flex: 1;
  height: 50%;  
  align-self: center;
  outline: 1px solid white;
}

 .edit-form > fieldset > div:not(.hidden-div) > input[type="time"],
  .edit-form > fieldset > div:not(.hidden-div) > input[type="date"] {
    flex: 0;
 }

.edit-form > fieldset > div:not(.hidden-div) > textarea {
  flex: 1;
  outline: none;
}


input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  /* opacity: 0.5; */
  /* border: 2px solid red; */
  outline: 2px solid var(--border-color);
  color: var(--bg-color);
  background-color: white;
  margin-right: 20px;
  scale: 1.2;
}

.edit-form-buttons {
  /* border: 2px solid var(--border-color); */
  /* border: 2px solid red; */
  display: flex;
  gap: 0.5em;
}

.edit-form-buttons > button {
  color: white;
  font-weight: 900;
}
.edit-form-buttons > .confirm-edit {
  background-color: var(--bg-color-confirm-edit);
}

.edit-form-buttons > .cancel-edit {
  background-color: var(--bg-color-cancel-edit);

}

.edit-form-buttons > button {
  width: 30px;
  height: 30px;
}

          /* Tags (6) */

.tags {
  /* border: 2px solid var(--border-color); */
  display: flex;
  gap: 1em;
}

.tag {
  border: 2px solid var(--border-color);
  color: white;
  background-color: var(--tag-color-generic);
  font-size: 0.8em;
  padding: 0.2em;
  border-radius: 6px;
  font-style: italic;
  /*  */
  display: flex;
  justify-content: center;
  width: 10ch;
}

.tag.high-priority {
    background-color: var(--tag-color-high);
}

.tag.medium-priority {
    background-color: var(--tag-color-medium);
}

.tag.low-priority {
    background-color: var(--tag-color-low);
}

div[class$="-priority"] {
  font-family: var(--priority-font) ;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
}

              /* expand-subtask-checkbox (4) */
.expand-adjacent {
  display: flex;
  gap: 1em;
}

.status-checkbox {
  display: flex;
  align-items: center;
}

/* hidden checkbox */
.expand {
  display: none;
}              

/* label that looks like btn */
.show-children {
  font-size: 0.8rem;
  padding: 5px 15px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  user-select: none;
  font-weight: bold;
}

.show-children > .expand:checked + .arrow {
  display: inline-block;
  transform: rotate(90deg);
}

.expand-adjacent:has(.expand:checked) ~ .hidden-div {
  display: flex;
}

.subtask-status {
  display: flex;
  align-items: center;
}

              /* task-children-div (4) */

.hidden-div {
  /* margin: 0.5em; */
    /* border: 2px solid brown; */
    /*  */
    display: none;
    flex-direction: column;
    gap: 0.5em;
}

.hidden-div > div:not(:first-child):not(:last-child) {
      /* border: 2px solid var(--border-color); */
    border-radius: 6px;
}

.shift-left {
  margin-left: 40px;
}

                                  /* tasks-options-dialog */

#tasks-options-popover {
  /* position: absolute; */
    position-anchor: --active-anchor;
    /* chis positions itself relative to the btn that opens it; the anchor --my=anchor */
    top: anchor(bottom);
    left: anchor(center);
    transform: translateX(-50%);
    /*  */
    border: 1px solid black;
}

#tasks-options-popover > button {
  /*  */
  display: block;
  width: 25ch;
  text-align: left;
  border: 0;
  padding: 0;
  margin: 0;
    background-color: var(--bg-color-sidebar);
    /* background-color: red; */
}

#tasks-options-popover > button > div {
  color: var(--text-color);
    padding: 0.5em;
}

#tasks-options-popover > :last-child {
  background-color: var(--button-color-delete-task);
  /* background-color: red; */
  color: white;
}

                                /* add-task-dialog */

#add-task-dialog {
  /* position-anchor: --add-task-dialog;
  top: anchor(bottom);
  left: anchor(center); */
  /* transform: translateX(-50%); */
  /*  */
  justify-self: center;
  align-self: center;
  width: 400px;
  height: 720px;
  /*  */
  background-color: var(--bg-color);
  color: var(--text-color);
  /*  */
  border-radius: 6px;
  
}

#add-task-dialog > form > p {
  text-align: center;
}

#add-task-dialog > form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1em;
}

form > div {
  display: flex;
  flex-direction: column;
}

input, textarea, select {
  font-size: inherit;
  font-family: inherit;
}

.note > #note {
    resize: none; 
    width: 300px;
}

.add-subtask-option {
    display: flex;
    gap: 0.5em;
}

.hidden-div > button[class="new-subtask"] {
  width: 30px;
  height: 30px;
  background-color: var(--button-color-add-task);
  border: none;
    user-select: none; /* Standard syntax */
}

.add-subtask-btn, .add-note-btn {
  background-color: var(--button-color-add-task);
}

.add-note-btn {
  width: 110px;
}

.new-subtask-divs {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.new-subtask-divs > div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  /* flex-direction: column; */
}

.new-subtask-divs > div > label {
  display: flex;
  flex: 1;
}

.subtask-div > label > input {
  /* height: 30px; */
  flex: 1;
  min-width: 0;
}

.new-subtask-divs > div > button {
  width: 15px;
  height: 15px;
  background-color: var(--bg-color-cancel-edit);
  user-select: none; 
  border-radius: 50%;
}

#add-task-dialog > form > div:last-child {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 1em;
}

.pick-time {
  display: flex; 
  justify-content: space-between;
}

.pick-time > :last-child {
  display: none;
}

.pick-time:has(#time-picker:checked) > :last-child {
  outline: 3px solid red;
  display: inline-block;
}